
.bulletPoint {
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;
    background-color: #82b2d1;
}

.bulletPointWrapper {
    display: grid;
    grid-template-columns: 2rem 2rem 2rem 2rem;
}

.navWrapper {
    display: grid;
    grid-template-columns: 8rem 8rem 8rem;
    justify-content: space-evenly;
    align-items: baseline;
    bottom: 5rem;
}

.pos {
    position: relative;
    bottom: -95rem;
}

.bulletPointActive {
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;
    background-color: #0026ff;
}