.cardsWrapper {
    display: grid;
    grid-template-columns: 28rem 28rem 28rem ;
    justify-content: center;
    grid-gap: 2rem;
    margin-bottom: 2rem;

}

.chartsWrapper {
    display: grid;
    grid-template-columns: 88rem 90rem;
    grid-gap: 2rem;
    align-content: center;
    justify-content: center;
    border-radius: 1rem;
    padding-bottom: unset;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-left: 8rem;
    position: relative;
    overflow: hidden;
    height: 82rem;
}


.chartAnalyics {
    background-color: white;
    border-radius: 1rem;
    padding-top: 2rem;
    --tw-shadow: 0 20px 25px -5px rgba(134, 118, 255, 0.1), 0 10px 10px -5px rgba(134, 118, 255, 0.08);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    height: 63rem;
}

.box {
    display: grid;
}

.bg { 
     background-color: #EDEFF9; 
     border-radius: 50%;
     width: 77rem;
     height: 77rem;
     margin-left: 6rem;
     display: grid;
     align-content: center;
     justify-content: center;
}

.aquistionChart {
    position: relative;
    overflow: hidden;
    height: 80rem;
} 