.legendeWrapper {
    margin-left: 1.3rem;
    margin-bottom: 2.6rem;
}

.conversions {
    color:rgb(187,187,187) ;
}

.outer {
    width: 98rem;
    height: 50.8rem;
    overflow-y: hidden;
    overflow-x: auto;
}