.chartsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cardsWrapper {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 21rem 21rem;
    grid-gap: 10rem;
    margin-bottom: 1rem;
}

.ConversionChart {
    margin-top: 1rem;
    margin-right: 2rem;
}