.sectorCard {
    box-shadow: 0 20px 25px -5px rgba(134, 118, 255, 0.10), 0 10px 10px -5px rgba(134, 118, 255, 0.08);
    border-radius: 12px;
    padding: 2rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    margin-top: 2rem;
    background-color: white;
    overflow: auto;
    height: 37rem;
}

.circle {
    background: #EEDEA7;
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.label {
    display: flex;
    justify-content: right;
    align-items:center;
}

.sectorLayout {
    display: grid;
    grid-template-columns: 11rem 6rem 6rem;
    grid-gap: 3.5rem;
    justify-content: center;
    align-items: center;
}





