.textWrapper {
    display: flex;
    gap: 0.8rem;
    flex-flow: column;
    align-items: center;
    margin-bottom: 1rem;
}

.storageWrapper {
    display: flex;
    gap: 1.5rem;
    font-size: 1.3rem;
    margin-bottom: 1.3rem;

}

.loadWrapper {
    display: flex;
    gap: 1.5rem;
    font-size: 1.3rem;
}

