.textWrapper {
    display: flex;
    gap: 0.8rem;
    flex-flow: column;
    align-items: center;
    margin-bottom: 1rem;
}

.storageWrapper {
    display: flex;
    gap: 5rem;
    font-size: 1.3rem;
    margin-bottom: 1.3rem;

}

.loadWrapper {
    display: flex;
    gap: 5.1rem;
    font-size: 1.3rem;
}

.title {
    font-style: normal;
    font-weight: 500;
    font-size: 3.4rem;
    line-height: 4.4rem;
    text-transform: uppercase;
    margin-bottom: 2.3rem;
}


.storageText {
    color: #2361FF;
}