
.layout {
  display: grid;
  justify-content: space-evenly;
  align-content: center;
  grid-template-columns: 36.5rem 100rem;
  grid-gap: 30rem;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.cirkleTwo {
  position: absolute;
  grid-area: 1;
  height: 80rem;
  width: 80rem;
  background: white;
  border-radius: 50%;
  z-index: -4;
  left: 43.3%;
  top: 7%;
}

.cirkleStripes{
  position: absolute;
  grid-area: 1;
  height: 60rem;
  width: 60rem;
  background: transparent;
  border-radius: 50%;
  z-index: -3;
  left: 47%;
  top: 14.5%;
}

.animation {
  animation-name: rotation;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.cirkleThree  {
  position: absolute;
  grid-area: 1;
  width: 140rem;
  background: #EEF1FA;
  height: 140rem;
  border-radius: 50%;
  z-index: -5;
  left: 29%;
  animation: pulse 4s infinite;
}

.sphere {
  position: relative;
  overflow: hidden;
  display: grid;
  align-items: center;
  width: 102vw;
  height: 100vh;
  z-index: -5;
}

.cirkleOne {
  position: absolute;
  grid-area: 1;
  height: 35rem;
  width: 35rem;
  background: white;
  border-radius: 50%;
  box-shadow: 0 10px 15px -3px rgb(134 118 255 / 21%);
  left: 55.5%;
  top: 30%;
}

.wrapper {
  position: absolute;
  left: -4rem;
}

.chartsWrapper {
  display: grid;
  position: relative;
  margin-left: 0rem;
  margin-top: 8rem;

}

.chartTotalWrapper {
  position: absolute;
  top: 21rem;
  left: 23.5rem;
}

.container {
    position: relative;
    height: 75rem;
    width: 75rem;
    border: 1rem #efe1fc solid;
    border-radius: 50%;
  }
  
.item {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50%;
    width: 50%;
    transform-origin: bottom right;
  }

  .cardsWrapper {
    display: grid;
    margin-top: 3rem;
    grid-gap: 4rem;
  }


  @keyframes rotation {
    0%   {transform: rotate(0deg);}
    100%   {transform: rotate(360deg);}

  }


  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(163, 183, 240, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 40px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(163, 183, 240, 0.4);
      box-shadow: 0 0 0 0 rgba(163, 183, 240, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 40px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }



