.title {
    font-size: 1.6rem;
}

.wrapper {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.number  {
    font-size: 3.4rem;
    font-weight: bold;
}


 .green{
    font-size: 1.4rem;
    color: green;
    padding-left: 1rem;
}

.red {
    font-size: 1.4rem;
    color: red;
    padding-left: 1rem;

}

.tagline  {
    color: #9B9B9B;
    font-size: 1.2rem;
}