.subject {
    padding-left: 1.7rem;
}

.item {
    display: flex;
    align-items: center;    
    margin-top: 2rem;
}

.colour {
    width: 2.5rem;
    border-radius: 4px;
    height: 1.9rem;
}

.outer {
    width: 64rem;
    height: 53.8rem;
    overflow: auto;
}