.subject {
    padding-left: 1.7rem;
}

.item {
    display: flex;
    align-items: center;    
    margin-top: 2rem;
}

.colour {
    width: 6.5rem;
    height: 1.9rem;
}

.outer {
    width: 64rem;
    height: 61.8rem;
    overflow: auto;
}