.legendWrapper {
    padding-left: 0.5rem;
}

.legendItemViews {
    opacity: 0.5;
    font-size: 1.1rem;
    font-weight: 700;
    color: #bbb;

}

.legendItemSession {
    opacity: 1;
    font-size: 1.1rem;
    font-weight: 700;
    color: #bbb;
}